<a href="https://colab.research.google.com/github/PranaviBurrareddy/PranaviBurrareddy/blob/main/assignment14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data

NameError: name 'data' is not defined

In [4]:
dataframe1 = pd.read_csv("/Dataset - salesdata.csv')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-4-2dce4ff3b7f3>, line 1)

In [5]:
df = pd. read_csv("/Dataset - salesdata.csv")

In [6]:
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,01-06-2018,East,Martha,Alexander,Television,95,"1,198.00","1,13,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50,500,"25,000.00"
2,02-09-2018,Central,Hermann,Luis,Television,36,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27,225,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56,"1,198.00","67,088.00"
5,04-01-2018,East,Martha,Alexander,Home Theater,60,500,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75,"1,198.00","89,850.00"
7,05-05-2018,Central,Hermann,Luis,Television,90,"1,198.00","1,07,820.00"
8,5-22-18,West,Douglas,Michael,Television,32,"1,198.00","38,336.00"
9,06-08-2018,East,Martha,Alexander,Home Theater,60,500,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,90,"1,198.00","1,07,820.00"
11,07-12-2018,East,Martha,Diana,Home Theater,29,500,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,81,500,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,35,"1,198.00","41,930.00"
14,09-01-2018,Central,Douglas,John,Desk,2,125,250
15,9-18-18,East,Martha,Alexander,Video Games,16,58.5,936
16,10-05-2018,Central,Hermann,Sigal,Home Theater,28,500,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,64,225,"14,400.00"
18,11-08-2018,East,Douglas,Karen,Cell Phone,15,225,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,96,58.5,"5,616.00"
20,12-12-2018,Central,Douglas,John,Television,67,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,74,58.5,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,46,500,"23,000.00"
23,02-01-2019,Central,Douglas,John,Home Theater,87,500,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,4,500,"2,000.00"
25,03-07-2019,West,Timothy,Stephen,Home Theater,7,500,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,50,58.5,"2,925.00"
27,04-10-2019,Central,Martha,Steven,Television,66,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,96,225,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,53,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,80,500,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,5,125,625
32,07-04-2019,East,Martha,Alexander,Video Games,62,58.5,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,55,58.5,"3,217.50"
34,08-07-2019,Central,Hermann,Shelli,Video Games,42,58.5,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,3,125,375
36,09-10-2019,Central,Timothy,David,Television,7,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,76,225,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,57,500,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,14,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,11,500,"5,500.00"
41,12-04-2019,Central,Hermann,Luis,Home Theater,94,500,"47,000.00"
42,12-21-19,Central,Marth,Steven,Home Theater,28,500,"14,000.00"

In [7]:
df.describe

<bound method NDFrame.describe of      OrderDate   Region  Manager   SalesMan          Item  Units Unit_price  \
0   01-06-2018     East   Martha  Alexander    Television     95   1,198.00
1      1-23-18  Central  Hermann     Shelli  Home Theater     50        500
2   02-09-2018  Central  Hermann       Luis    Television     36   1,198.00
3      2-26-18  Central  Timothy      David    Cell Phone     27        225
4      3-15-18     West  Timothy    Stephen    Television     56   1,198.00
5   04-01-2018     East   Martha  Alexander  Home Theater     60        500
6      4-18-18  Central   Martha     Steven    Television     75   1,198.00
7   05-05-2018  Central  Hermann       Luis    Television     90   1,198.00
8      5-22-18     West  Douglas    Michael    Television     32   1,198.00
9   06-08-2018     East   Martha  Alexander  Home Theater     60        500
10     6-25-18  Central  Hermann      Sigal    Television     90   1,198.00
11  07-12-2018     East   Martha      Diana  Home Theater     29        500
12     7-29-18     East  Douglas      Karen  Home Theater     81        500
13     8-15-18     East   Martha  Alexander    Television     35   1,198.00
14  09-01-2018  Central  Douglas       John          Desk      2        125
15     9-18-18     East   Martha  Alexander   Video Games     16       58.5
16  10-05-2018  Central  Hermann      Sigal  Home Theater     28        500
17    10-22-18     East   Martha  Alexander    Cell Phone     64        225
18  11-08-2018     East  Douglas      Karen    Cell Phone     15        225
19    11-25-18  Central  Hermann     Shelli   Video Games     96       58.5
20  12-12-2018  Central  Douglas       John    Television     67   1,198.00
21    12-29-18     East  Douglas      Karen   Video Games     74       58.5
22     1-15-19  Central  Timothy      David  Home Theater     46        500
23  02-01-2019  Central  Douglas       John  Home Theater     87        500
24     2-18-19     East   Martha  Alexander  Home Theater      4        500
25  03-07-2019     West  Timothy    Stephen  Home Theater      7        500
26     3-24-19  Central  Hermann       Luis   Video Games     50       58.5
27  04-10-2019  Central   Martha     Steven    Television     66   1,198.00
28     4-27-19     East   Martha      Diana    Cell Phone     96        225
29     5-14-19  Central  Timothy      David    Television     53   1,198.00
30     5-31-19  Central  Timothy      David  Home Theater     80        500
31     6-17-19  Central  Hermann     Shelli          Desk      5        125
32  07-04-2019     East   Martha  Alexander   Video Games     62       58.5
33     7-21-19  Central  Hermann      Sigal   Video Games     55       58.5
34  08-07-2019  Central  Hermann     Shelli   Video Games     42       58.5
35     8-24-19     West  Timothy    Stephen          Desk      3        125
36  09-10-2019  Central  Timothy      David    Television      7   1,198.00
37     9-27-19     West  Timothy    Stephen    Cell Phone     76        225
38    10-14-19     West  Douglas    Michael  Home Theater     57        500
39    10-31-19  Central   Martha     Steven    Television     14   1,198.00
40    11-17-19  Central  Hermann       Luis  Home Theater     11        500
41  12-04-2019  Central  Hermann       Luis  Home Theater     94        500
42    12-21-19  Central    Marth     Steven  Home Theater     28        500

       Sale_amt
0   1,13,810.00
1     25,000.00
2     43,128.00
3      6,075.00
4     67,088.00
5     30,000.00
6     89,850.00
7   1,07,820.00
8     38,336.00
9     30,000.00
10  1,07,820.00
11    14,500.00
12    40,500.00
13    41,930.00
14          250
15          936
16    14,000.00
17    14,400.00
18     3,375.00
19     5,616.00
20    80,266.00
21     4,329.00
22    23,000.00
23    43,500.00
24     2,000.00
25     3,500.00
26     2,925.00
27    79,068.00
28    21,600.00
29    63,494.00
30    40,000.00
31          625
32     3,627.00
33     3,217.50
34     2,457.00
35          375
36     8,386.00
37    17,100.00
38    28,500.00
39    16,772.00
40     5,500.00
41    47,000.00
42    14,000.00  >

In [8]:
df_filled = df.fillna(df.mean())

<ipython-input-8-939c007b6345>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled = df.fillna(df.mean())

In [16]:
df.drop(columns="Units")

,OrderDate,Region,Manager,SalesMan,Item,Unit_price,Sale_amt
0,01-06-2018,East,Martha,Alexander,Television,"1,198.00","1,13,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,500,"25,000.00"
2,02-09-2018,Central,Hermann,Luis,Television,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,225,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,"1,198.00","67,088.00"
5,04-01-2018,East,Martha,Alexander,Home Theater,500,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,"1,198.00","89,850.00"
7,05-05-2018,Central,Hermann,Luis,Television,"1,198.00","1,07,820.00"
8,5-22-18,West,Douglas,Michael,Television,"1,198.00","38,336.00"
9,06-08-2018,East,Martha,Alexander,Home Theater,500,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,"1,198.00","1,07,820.00"
11,07-12-2018,East,Martha,Diana,Home Theater,500,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,500,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,"1,198.00","41,930.00"
14,09-01-2018,Central,Douglas,John,Desk,125,250
15,9-18-18,East,Martha,Alexander,Video Games,58.5,936
16,10-05-2018,Central,Hermann,Sigal,Home Theater,500,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,225,"14,400.00"
18,11-08-2018,East,Douglas,Karen,Cell Phone,225,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,58.5,"5,616.00"
20,12-12-2018,Central,Douglas,John,Television,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,58.5,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,500,"23,000.00"
23,02-01-2019,Central,Douglas,John,Home Theater,500,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,500,"2,000.00"
25,03-07-2019,West,Timothy,Stephen,Home Theater,500,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,58.5,"2,925.00"
27,04-10-2019,Central,Martha,Steven,Television,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,225,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,500,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,125,625
32,07-04-2019,East,Martha,Alexander,Video Games,58.5,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,58.5,"3,217.50"
34,08-07-2019,Central,Hermann,Shelli,Video Games,58.5,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,125,375
36,09-10-2019,Central,Timothy,David,Television,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,225,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,500,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,500,"5,500.00"
41,12-04-2019,Central,Hermann,Luis,Home Theater,500,"47,000.00"
42,12-21-19,Central,Marth,Steven,Home Theater,500,"14,000.00"

In [26]:
filledDf = df.fillna(0)

In [27]:
filledDf.head(10)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,01-06-2018,East,Martha,Alexander,Television,95,"1,198.00","1,13,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50,500,"25,000.00"
2,02-09-2018,Central,Hermann,Luis,Television,36,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27,225,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56,"1,198.00","67,088.00"
5,04-01-2018,East,Martha,Alexander,Home Theater,60,500,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75,"1,198.00","89,850.00"
7,05-05-2018,Central,Hermann,Luis,Television,90,"1,198.00","1,07,820.00"
8,5-22-18,West,Douglas,Michael,Television,32,"1,198.00","38,336.00"
9,06-08-2018,East,Martha,Alexander,Home Theater,60,500,"30,000.00"

In [29]:
df.isnull().sum()

OrderDate     0
Region        0
Manager       0
SalesMan      0
Item          0
Units         0
Unit_price    0
Sale_amt      0
dtype: int64

In [30]:
df.mean()

<ipython-input-30-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Units    49.325581
dtype: float64

NameError: name 'FFillDf' is not defined

In [25]:
df2=df.dropna()

# New Section